@font-face {
  font-family: "SF Pro Semibold";
  src: url("./Assets/Fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: "SF Pro";
    src: url("./Assets/Fonts/SF-Pro-Display-Regular.otf") format("opentype");
    /* font-weight: 200; */
    font-style: normal;
  }